<!DOCTYPE html>
<html lang="en-US">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-messages.min.js"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.2.1/angular-material.min.js"></script>
    <script src="script.js"></script>
    <script src="myController.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.2.1/angular-material.min.css">
    
<body>
    <div ng-app="myApp" layout="column" layout-align="center center">
        <div ng-controller="myController">
            <h2>My shopping list</h2>
            <ul>
                <li ng-repeat="product in products">
                    {{product}}<span ng-click="removeItem($index)"> ×</span>
                </li>
            </ul>
            <md-input-container>
                <input ng-model="addMe">
            </md-input-container>
            <md-button ng-click="addItem()" class="md-raised">Add</md-button>
            <p>{{errortext}}</p>
        </div>

        
    </div>
</body>
</html>