<!DOCTYPE html>
<html lang="en-US">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="script.js"></script>
    <script src="myController.js"></script>
    <script src="clickController.js"></script>
    <script src="toogleController.js"></script>
    <link rel="stylesheet" href="style.css">
<body>
    <div ng-app="myApp">

        <div ng-controller="myController">
            <h1 ng-mouseover='count = count + 1'>
                Проведи мышью
            </h1>
            <h1>{{count}}</h1>
        </div>

        <div ng-controller="clickController">
            <h1 ng-click="countClick = countClick + 1">
                Кликни
            </h1>
            <h1>{{countClick}}</h1>
            <!-- Также можно через функцию -->
            <h1 ng-click="myFunction()">
                Click me
            </h1>
        </div>

        <!-- показать / скрыть содержимое -->
        <div ng-controller="toogleController">
            <button ng-click="funcToogle()">Toogle</button>
            <div ng-show='showMe'>
                <p>Menu:</p>
                <p>One</p>
                <p>Two</p>
                <p>Three</p>
            </div>
        </div>

    </div>
</body>
</html>